            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Espace Administration
            </div>

   <li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Etudiants</span>
    </a>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Escpace Etudiant:</h6>
            <a class="collapse-item active" routerLink="listeDeEtud">liste Demande Inscripton</a>
            <a class="collapse-item active" routerLink="listeEtud">Liste Etudiants</a>
            <a class="collapse-item active" href="cards.html">Plus d'infos</a>
        </div>
    </div>
</li>

<li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Enseignant</span>
    </a>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Escpace Enseignant:</h6>
            <a class="collapse-item active" routerLink="listeDeEn">liste Demande Inscripton</a>
            <a class="collapse-item active"  routerLink="listeEns">Liste Enseignants</a>
            <a class="collapse-item active" href="cards.html">Les listes des demandes</a>
        </div>
    </div>
</li>

<li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Les Soutenances</span>
    </a>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Soutenances:</h6>
            <a class="collapse-item active" routerLink="demandeSoutenance">Les listes des Sfe</a>
            <a class="collapse-item active" routerLink="listeSoutenance">Listes Soutenances</a>
            <a class="collapse-item active">Plus d'infos</a>
        </div>
    </div>
</li>

<li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Les Salles</span>
    </a>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Salles:</h6>
            <a class="collapse-item active" routerLink="image">Listes Salles</a>
        </div>
    </div>
</li>