

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des pfe</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Voici la Liste des projets de find d'etudes</h6>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="!notValid">
                <strong>Error !</strong> L'etudiant n'a pas deposer son rapport en cours !
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="card-body">
                <div class="table-responsive">
                    <input type="search" placeholder="Search" (input)="filte($event.target.value)">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Sujet</th>
                                <th>Encadreur</th>
                                <th>Etudiant</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of Filterdata">
                                <td> {{d.id}}</td>
                                <td> {{d.sujet}}</td>
                                <td> {{d.encadreur}}</td>
                                <td> {{d.etudiant}}</td>
                               <!-- <td><a class="btn btn-primary" [routerLink]= " 'addSoutenance/' + d.id">Planifier</a></td>-->
                                <td><button class="btn btn-primary" (click)="planifier(d.id)">Planifier</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

