            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Espace Enseignant
            </div>

   <li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Encadrement</span>
    </a>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Encadrement</h6>
            <a class="collapse-item active" routerLink="listeEncadrementEn" >Liste de Demande</a>
            <a class="collapse-item active" routerLink="listeEncadrement">Liste d'Encadrement</a>
            <a class="collapse-item active" href="cards.html">Plus d'infos</a>
        </div>
    </div>
</li>


<li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Soutenance</span>
    </a>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Soutenance PFE</h6>
            <a class="collapse-item active" routerLink="listeSoutenanceEns" >Liste des soutenances</a>
            <a class="collapse-item active" href="cards.html">Plus d'infos</a>
        </div>
    </div>
</li>

