

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"> <span>Planification de Soutenance </span></h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> <span> Voic la liste des Soutenances ! </span></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div *ngIf="result != ''">
                        <div class="alert alert-success">
                            <strong> {{result}}</strong>
                        </div>
                    </div>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sujet</th>
                                <th>Encadreur</th>
                                <th>Présidant</th>
                                <th>Rapporteur</th>
                                <th>Rapport</th>
                                <th>Salle</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of data">
                                <td> {{d.sfe}}</td>
                                <td *ngIf="d.encadreur === user"> <span  class="bg-danger text-white badge">{{d.encadreur}}</span></td>
                                <td  *ngIf="d.encadreur != user"> {{d.encadreur}}</td>
                                <td *ngIf="d.president === user"> <span  class="bg-danger text-white badge">{{d.president}}</span></td>
                                <td *ngIf="d.president != user"> {{d.president}}</td>
                                <td *ngIf="d.rapporteur === user"> <span  class="bg-danger text-white badge">{{d.rapporteur}}</span></td>
                                <td *ngIf="d.rapporteur != user"> {{d.rapporteur}}</td>
                                <td><a style="color: blue;"  (click)="downloadFile(d.idFile)">{{ d.rapport }}</a></td>
                                <td> {{d.salle}}</td>
                                <td> {{d.date | date:'short'}}</td>
                                <td><button class="btn btn-primary" [routerLink]= " 'ajouterNote/' + d.id" [disabled]=" (d.president != user) || (!verif(d.date))  ">Saisir note</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

